<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
  <div class="home">
  <form action="/home" method="POST"  >
    <button type="submit" class="home">GO TO HOME PAGE</button>
</form>
</div>
<div class="c1">
    <div class="container mt-5">
        <h1>Delivery Address</h1>
    
        <div class="row">
          <div class="col-sm-8">
            <div class="card">
              <div class="card-body">
    
                <form action="/address" method="POST">
                  <div class="form-group">
                    <label for="address"></label>
                    <input type="text" class="form-control" name="address">
                  </div>
                  <button type="submit" class="btn btn-dark">Submit</button>
                  </form>
                  <br>
                  <br>
                  <h2>Your address is saved, Now press 'Pay' to proceed for payment</h2>
<button id="rzp-button1" class="btn btn-outline-dark btn-lg"><i class="fas fa-money-bill"></i> Pay</button>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  var options = {
    "key": "<%= razorpayKey %>", 
    "amount": "<%= itemAmount %>",
    "currency": "INR",
    "description": "Acme Corp",
    "image": "example.com/image/rzp.jpg",
    // "prefill":
    // {
      
      
    // },
    config: {
      display: {
        blocks: {
          utib: { //name for Axis block
            name: "Pay using Axis Bank",
            instruments: [
              {
                method: "card",
                issuers: ["UTIB"]
              },
              {
                method: "netbanking",
                banks: ["UTIB"]
              },
            ]
          },
        //   other:{
        //     name: "Pay using Kotak Bank",
        //     instruments: [
        //       {
        //         method: "card",
        //         issuers: ["UTIB"]
        //       },
        //       {
        //         method: "netbanking",
        //         banks: ["UTIB"]
        //       },
        //     ]
        //   }
          other: { //  name for other block
            name: "Other Payment modes",
            instruments: [
              {
                method: "card",
                issuers: ["ICIC","Kotak","Indian","HDFC","SBI","CBI"]
              },
              {
                method: 'netbanking',
              }
            ]
          }
        },
        hide: [
          {
          method: "upi"
          }
        ],
        sequence: ["block.utib", "block.other"],
        preferences: {
          show_default_blocks: false // Should Checkout show its default blocks?
        }
      }
    },
    "handler": function (response) {
      alert(response.razorpay_payment_id);
    },
    "modal": {
      "ondismiss": function () {
        if (confirm("Are you sure, you want to close the form?")) {
          txt = "You pressed OK!";
          console.log("Checkout form closed by the user");
        } else {
          txt = "You pressed Cancel!";
          console.log("Complete the Payment")
        }
      }
    }
  };
  var rzp1 = new Razorpay(options);
  document.getElementById('rzp-button1').onclick = function (e) {
    rzp1.open();
    e.preventDefault();
  }
</script>
    
</body>
</html>
