<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
  <div id="cart">
<div>
  <form action="/cart" method="GET">
<button type="submit">Your Cart</button>
</form>
</div>
</div>
<div id="items">
  <div id="stationery">
  <form action="/stationery" method="POST">
    <button type="submit" id="id1">STATIONERY</button>
    </form>
  </div>
  
    <div id="books">
      <form action="/books" method="POST">
        <button type="submit" id="id3">BOOKS</button>
        </form>
      </div>
</div>
</body>
</html>
